#body {
    width: 80%;
}

.page {    
   background-color: rgb(208, 224, 229);
   min-height: 100vh;
}

.bg-color-primary {
    background-color: aliceblue;
}

.rounded-hard{
    border-radius: 2rem;
}

.rounded-medium {
    border-radius: 1rem;
}
