.gradient-bg {
    transition-duration: 1000ms;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.727));
}

.gradient-bg:hover {
    transition-duration: 1000ms;
    background-image: linear-gradient(rgba(0, 0, 0, 0.242), rgb(0, 0, 0));
}


